.profile {
    margin: 100px;
    width: 400px;
    height: 600px;
    background-color: aqua;
}

.description {
    padding-top: 50px;
}

.avatar {
   border-radius: 50%;
   background-color: lightsalmon;
   width: 200px;
   height: 200px;
   margin-left: 100px;
   margin-bottom: 50px;

}

.name {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 15px;
}

.tag {
    composes: name;
    font-size: 20px;
    color: gray;
}


.location {
    composes: name;
    font-size: 20px;
    color: gray;
}

.stats li {
    width: 400px / 3;
    height: 100px;
}

.stats {
    display: flex;
}

.label {

}

.quantity {
display: flex;
}