.friendList {
    margin: 100px;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100px;
    border: 1px solid red;
    margin: 5px;
   
}

.status {

}

.online {
    
}

.avatar {
 width: 100px;
 height: 100px;
}

.name {
  font-size: 35px;
}